
h1 Welcome! You're using Squarebits Software webstatic template.
h2 This is a Middleman Project.
p== "Middleman is a static site generator using all the shortcuts and tools in modern web development. #{link_to 'Getting started!', 'http://middlemanapp.com/getting-started/', title: 'Getting started!', target: '_BLANK'}"

h2 This project uses Slim as template engine.
p== "Slim is a template language whose goal is reduce the syntax to the essential parts without becoming cryptic. Slim uses Temple and Tilt. If you want to learn how Slim works, you'll need to study these projects. #{link_to 'Learn more', 'http://slim-lang.com/index.html', title: 'Learn more', target: '_BLANK' }"

p Enjoy! Thanks ;)